.novetly {
	position: relative;
	padding-bottom: 100px;

    @media (max-width: 968px) {
        padding-bottom: 60px;
    }

	&__title {
		margin-bottom: 39px;
	}
}

.novetly__slider {
	position: relative;
}

.ellipse-novetly {
	position: absolute;
	width: 500px;
	height: 500px;
	filter: blur(3.75rem);
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(132, 190, 81, 0.3),
		rgba(210, 230, 189, 0) 100%
	);
}

.novetly-el-1 {
	top: 100px;
	left: -500px;
}

.novetly-el-2 {
	top: 100px;
	right: -500px;
}
