.promotion {
	position: relative;
	padding: 100px 0 100px 0;
	max-width: 100%;
	background-color: var(--promotions-bg);

    @media (max-width: 968px) {
        padding: 60px 0 60px 0;
    }


	&__title {
		margin-bottom: 39px;
		color: white;
	}

	&__btn {
		margin-inline: auto;
	}
}

.promotion__slider {
	position: relative;
}

.promotion__slider-bullet {
	margin-bottom: 40px;
	position: static;
	padding-top: 40px;
	text-align: center;

	.swiper-pagination-bullet {
		background-color: white;
	}
}

.ellipse-promotion {
	position: absolute;
	width: 800px;
	height: 800px;
	transform: rotate(180deg);
	filter: blur(3.75rem);
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(132, 190, 81, 0.4),
		rgba(210, 230, 189, 0) 100%
	);
}

.promotion-el-1 {
	top: 0;
	left: -200px;
}

.promotion-el-2 {
	top: 0;
	right: -200px;
}
