.btn {
	width: 220px;
	min-height: 47px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 20px;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
	padding-inline: 15px;
	font-size: 1rem;
	font-weight: 700;
	transition: 0.1s ease-in;
	cursor: pointer;

	&:active {
		transform: translateY(1px);
	}
}

.btn-assent {
	background-color: #e74e13;
    color: white;

	&:hover {
		background-color: #c7420e;
	}
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #e74e13;
	color: #e74e13;
    box-shadow: none;
    gap: 11px;

    svg {
        fill: #E74E13;
    }
}

.continue-shopping-btn {
	width: 280px;
	background-color: transparent;
	gap: 8px;
	border: 1px solid #e74e13;
	color: #e74e13;
}

.checkout-btn {
	width: 260px;
	gap: 10px;
}
