.about {
	position: relative;
	margin-inline: auto;
	max-width: 1470px;
	padding: 100px 15px 100px 15px;

    @media (max-width: 968px) {
        padding: 60px 15px 60px 15px;
    }

	&__content {
		display: flex;
		justify-content: space-between;
        gap: 60px;
	}

	&__image-wrapper {
        min-width: 480px;
		max-width: 700px;
	}

	&__image {
		display: block;
		border-top-right-radius: 40%;
		border-bottom-left-radius: 40%;
	}

    &__text {
       min-width: 420px;
    }

	&__title {
		margin-bottom: 25px;
		padding-left: 40px;

		&::after {
			display: none;
		}
	}

	&__desc {
		margin-bottom: 32px;
		max-width: 540px;
		font-size: 1rem;
	}
}

.about__mobile-text {
    display: none;
}

.ellipse-about {
	position: absolute;
	width: 700px;
	height: 500px;
	filter: blur(3.75rem);
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(231, 78, 19, 0.1),
		rgba(231, 78, 19, 0) 100%
	);
}

.about-el-1 {
	top: 0;
	right: -400px;
}

.about-el-2 {
	left: -500px;
	bottom: -400px;
}

@media (max-width: 1024px) {
    .about {
    
        &__content {
            flex-wrap: wrap;
        }
    
        &__image-wrapper {
            display: none;
        }

        &__desc {
            max-width: 100%;
            font-size: 1rem;
        }

        &__text {
            display: none;
            min-width: 100%;
        }
    }

    .about__mobile-text {
        display: block;

        h2 {
            margin-bottom: 11px;
        }
    
        p {
            line-height: 120%;
        }
    }
}