.novetly {
	position: relative;
	padding-bottom: 120px;

	&__title {
		margin-bottom: 39px;
	}
}

.novetly__slider {
	position: relative;
}

.prev {
	left: -100px;
}

.next {
	right: -100px;
}

.ellipse-novetly {
	position: absolute;
	width: 500px;
	height: 500px;
	filter: blur(3.75rem);
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(132, 190, 81, 0.3),
		rgba(210, 230, 189, 0) 100%
	);
}

.novetly-el-1 {
	top: 100px;
	left: -500px;
}

.novetly-el-2 {
	top: 100px;
	right: -500px;
}
