.our-team {
	padding-bottom: 125px;

	&__title {
		margin-bottom: 34px;
	}
	&__desc {
		margin-bottom: 36px;
	}
	&__second-title {
		margin-bottom: 29px;
	}
	&__friends-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		// flex-wrap: wrap;
		gap: 30px;
	}
	&__friends-image {
		display: block;
	}
}

