.partners-slider {
	max-width: 1920px;
	margin-inline: auto;
	padding-top: 108px;
	padding-bottom: 80px;

	&__title {
		margin-bottom: 40px;
	}

	&__item {
		width: 255px;
		height: 126px;
		padding: 20px 40px;
		border-radius: 20px;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		user-select: none;
	}
}

.partners-slider__body {
	position: relative;
}

.prev-3,
.next-3 {
	position: absolute;
	z-index: 12;
}

.prev-3 {
	top: 70%;
	left: 270px;
	transform: translateY(-50%);
}

.next-3 {
	top: 70%;
	right: 270px;
	transform: translateY(-50%);

	svg {
		transform: rotate(180deg);
	}
}

.partners__slider-bullet {
	position: static;
	text-align: center;
}
