// PRODUCT SLIDER
#product-slider {
	min-height: 290px;
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 30px;
	border-radius: 20px;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
	background: rgb(255, 255, 255);
    margin-bottom: 20px;
}

#product-slider .swiper-slide {
    user-select: none;
}

.product-slider-Body {
	width: 220px !important;
    align-items: center;
}

.product-info__image {
	max-width: 220px;
    border-radius: 5px;
}

.product-slider__prev,
.product-slider__next {
	width: 20px;
	height: 20px;

	&:hover {
		svg {
			transition: all 0.2s ease-in-out;
			fill: var(--slider-arrow-hover);
		}
	}
}

.product-slider__next {
	svg {
		transform: rotate(180deg);
	}
}

// Нижний слайдер

#product-sub-slider {
    padding: 5px;
}

#product-sub-slider .swiper-slide {
    width: 135px;
    height: 90px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-sub-slider__image {
    max-width: 55px;
    user-select: none;
    cursor: pointer;
}