.plants-protection {
	min-height: 500px;
	padding-block: 109px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background:
			linear-gradient(
				80deg,
				rgba(132, 190, 81, 0.4) 1.38%,
				rgba(132, 190, 81, 0) 62.36%
			),
			linear-gradient(
				262deg,
				rgba(232, 78, 15, 0.3) 3.67%,
				rgba(232, 78, 15, 0) 87.59%
			),
			linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.5) 100%),
			url(../images/plants-protection-bg.png),
			lightgray 0px -721.412px no-repeat;
		background-size: cover;
		background-position: center;
		z-index: -1;
	}

	&__title {
		color: white;
        padding-left: 30px;
		margin-bottom: 16px;

        &::after {
            display: none;
        }
	}

	&__desc {
		color: white;
		font-weight: 300;
        line-height: 140%;
	}
}

